/* CSS Geral */
html, body {
    padding: 0 ;
    margin: 0;
    height: 100%;
    font-family: Spartan;
    font-Style: line-height;
    scroll-behavior: smooth;
}

nav {
background-color:#ffbc25;    
position: fixed;
top: 0;
left: 0;
width: 100%;
}
nav img {
    margin: 0px;
    width: 70%;
}
nav ul li {    
    display: inline-block;
    width: 15%;
    text-align: center;
    font-size: 75%;
    vertical-align: middle;
    line-height: 25%;
}
nav ul li a {
    text-decoration: none;
    color: black;
    height: 100%;
}
nav ul li:hover {
    font-weight: bold;

}
/* Estilo projeto*/
 
#projeto {
    background-image: url('img/capa.jpeg');
    background-size: 100%;
    padding: 17%;
    margin-top: 1%;
    margin-bottom: 3%;
}
#projeto h2 {
    color: #ffbc25;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 150%;
    text-align: center;
}
#projeto h3 {
    color: white; 
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 100%;
    text-align: justify;
}
#carrossel {
    width: 100%;
    height: 100%;
    outline: 3px solid #2A9D42 ;
   margin: 10px auto; 
   overflow: hidden;
   box-shadow: 10px 10px 15px black;
    
}
.carrossel ul {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
   
}
.carrossel li
{ 
    position: relative;
    left: 100%;
    animation: slide 15s infinite ease-out
}
@keyframes slide {
    0% {left: 0px;}
    8% {left: 0px;}
    14% {left: -400px;}
    18% {left: -400px;}
    23% {left: -800px;}
    30% {left: -800px;}
    37% {left: -1200px;}
    43% {left: -1200px;}
    50% {left: -1600px;}
    57% {left: -1600px;}
    64% {left: -2000px;}
    70% {left: -2000px;}
    77% {left: -2400px;}
    84% {left: -2400px;}   
    90% {left: -2800px;}
    95% {left: -2800px;}
    100% {left:0px;}


   
}
/*estilo videos*/
#vi h1 {
    color: #ffbc25;
}
#vi {
    background-color: #ffffff;
    padding: 10%;
}
#vi h1 {
    font-size: 2rem;
}
#vi h1 {
    font-size: 1.5rem;
}
#vi p {
    font-size: 1.2rem;
}
/* Estilos depoimentos */
#parceiros {
    color: #ffbc25;
    background-color: #2A9D42;
    padding: 10%;

}
.item-depoimento {
   display: inline-block;
   width: 25%;

}
.item-depoimento img {
    display: block;
    width: 50%;
    margin: auto;

}
.item-depoimento p {
    text-transform: capitalize;
    font-style: italic;
    padding: 10%;
    text-indent: 20%;
}
/*estilos do mural */
#mural{
    background-color: #FFFFFF;
    padding: 10%;
}
#formulario {
    display: inline-block;
    margin: 5%;
    padding: 5%;
    width: 25%;
    background-color: #2A9D42;
}
#lista-comentarios {
    display: inline-block;
    margin: 5%;
    padding: 5%;
    width: 25%;
    font-style: italic;
}
#formulario input {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}
#formulario textarea
{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}
#formulario button
{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    height: 45px;
    background-color: #FA1D24;
    margin: 10%;
    border: 0;
    border-radius: 5px;

}
/* estilos rodapé*/
footer 
{
    background-color: #2A9D42;
    padding: 10%;
    font-size: 0.8rem;
    text-align: center;
    
}
footer img
{
     max-width: 20px; 
}
